.info-form-wrapper * {
    font-size: 12px;
    color: black;
}

.title-field {
    color: black;
    font-weight: 700;
    text-align: center;
}

.input-form {
    border: none;
    width: 100%;
    text-align: left;
    color: black;
}

.separator {
    background: black;
    width: 50%;
    height: 1px;
}

*[contentEditable='true']:empty:not(:focus)::before {
    content: attr(data-placeholder);
    pointer-events: none;
    font-size: 12px;
}

.field-form {
    width: 100%;
}

.general-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-info {
    font-weight: 700;
}

.date {
    display: flex;
    justify-content: space-between;
}

[contentEditable='true']:focus {
    outline: none;
    margin-bottom: 2px;
}

.contact-info-item {
    display: list-item;
    list-style: disc outside none;
}