.create-post-modal .ant-modal-content {
    width: 90vh;
    @apply bg-white
}

.quill .ql-container {
    flex: 1;
    overflow-y: auto;
    @apply rounded-b-xl
}

.quill .ql-editor {
    @apply: no-scrollbar
}

.quill .ql-toolbar {
    @apply rounded-t-xl
}

.ql-container {
   overflow-y: hidden!important;
}